<!DOCTYPE html>
<html>

<head>
    <%- include("partials2/head") %> 
</head>

<body>
    <%- include("partials2/nav") %> 
    <form style="width: 60%;margin: auto;margin-top: 5%;box-shadow: 1px 1px 15px lightgray;padding: 17px;border-radius:7px" method="POST" accept-charset="/new">
        <div><label for="name" style="font-size: 24px;"><strong>Enter your company name</strong></label><input class="form-control" type="text" placeholder="Company name" name="name"></div>
        <p style="color: rgb(255,0,0);margin-top: 28px;">* Rember your company name is public</p><button class="btn btn-success" type="submit" style="margin: auto;">Create</button></form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>