
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

.logo{
    font-family: 'Oswald', sans-serif;
}
.white{
    background-color: white;
}
.sidebar{
    width: 5%;
    height: 100vh;
    background-color: white;
    transition: 0.5s ease;
}
.navbar{
    transition: 0.5s ease;
}