<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>employe</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed">
<link rel="stylesheet" href="assets2/css/Navigation-Menu.css">
<link rel="stylesheet" href="assets2/css/Navigation-with-Button.css">
<link rel="stylesheet" href="assets2/css/styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script data-ad-client="ca-pub-3533147118196233" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>