.navbar {
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    background-color: aqua;
}

.header {
    padding-left: 20px;
    display: flex;
}

.links {
    display: flex;
    padding-right: 20px;
}

.link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 12px;
    padding-right: 12px;
}
.link:hover {
    background-color: #00D2FF;
    color: white
}